@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Yatra One', sans-serif;
  background: rgb(53,151,200);
  background: linear-gradient(0deg, rgba(53,151,200,1) 45%, rgba(32,214,226,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
  color: #000;
  overflow-wrap: break-word;
}

body {
  position: relative;
  height: 100vh;
  background-size: cover;
  overflow: scroll;
  color: #000;
}

#symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

img {
  width: 500px;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
