.progress-bar {
  width: 100%; /* Full width of the container */
  background-color: #e0e0e0; /* Color of the parent element */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures the child element doesn't overflow */
}

.progress {
  height: 20px; /* Height of the progress bar */
  background-color: #76b852; /* Color of the child element */
  text-align: right;
  transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  color: white;
  font-weight: bold;
  border-radius: 8px; /* Rounded corners */
}
